* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
padding: 0;
background-color: #a8adba; /*change to lighter color*/
}


/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  /*position: -webkit-sticky;*/
  top: 0;
  
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
 
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color:gray;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: #fce138;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

 /*about me starts */
.hero {
  padding: 50px 0;
  background-color: #d4d4d4;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.aboutmebox {
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  width: 100%;
}
.aboutmebox h2 {
  font-style: italic;
  font-size: 60px;
  text-align: right;
  color: #fce138;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-right: 10px;
}
.aboutmebox p {
  font-size: 20px;
  line-height: 1.5;
}

.aboutme {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-left: 3px;
  padding-left: 10px;
  width: 100%;
  border: 0;
}

.profile-pic {
  position: relative;
  flex: 1 40%;
  margin: 10px;
}
.profile-pic h4, .pic1 h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;    
  font-size: 26px;
}
.profile-pic img {
height: 300px;
width: 100%;
}

/*about me/profile  section ends*/

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 60px;
  /*border-bottom: 3px solid;*/
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #fce138;
}

/* MEET THE TRAINERS START */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects {
  width: 45%;
  border-radius: 14px;
  border: 4px solid red;
  background-size: cover;
  font-size: 22px;
  margin-bottom: 15px;
  padding:20px 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  /*padding: 25px;
  line-height: 1.3;*/
}

.projects h3 {
  /*font-size: 28px;*/
  margin-top: auto;
  width: 100%;
  background-color: #a8adba;
  color: #393b4f;
  padding: 10px 5px;
  text-align: center;
}

.projects h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.projects p {
  font-size: 17px;
}

/* TRAINER STYLES END */

/* REACH OUT STYLES START */
.contact {
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

/* REACH OUT STYLES END */

/*FROM CSS FLEXBOX*/
  /* flex parent */
.flex-container1 {
/* create flexbox */
display: flex;
/* instruct it to break onto next line if it runs out of space */
flex-wrap: wrap;
/* put all unused space between items */
justify-content: space-between;
width: 100%;
}

.flex-item1 {
/* make each one 45%, putting 10% between each element on the page */
width: 45%;
/* rounded corners */
border-radius: 14px;
border: 4px ;
background-color: #a8adba;
font-size: 22px;
font-weight: bold;
/* put space between each one vertically */
margin-bottom: 15px;
/* for files in local images folder, use url('../images/file-name.jpg') */
background-image: url('../css/images/horiseon.png');
/* tell background to fit box no matter what */
background-size: cover;
/* crop it at the center */
background-position: center;
/* padding top and bottom 20px, 0 for left/right */
padding: 20px 0;
/* set minimum heigh value so there's room */
min-height: 250px;
 /* will make the flex grow 3 times bigger than the others */
display: flex;
flex-grow: 3;
}

/* flex parent */
.flex-container {
/* create flexbox */
display: flex;
/* instruct it to break onto next line if it runs out of space */
flex-wrap: wrap;
/* put all unused space between items */
justify-content: space-between;
width: 100%;
}

/* flex child */
.flex-item {
/* make each one 45%, putting 10% between each element on the page */
width: 45%;
/* rounded corners */
border-radius: 14px;
border: 4px ;
background-color: #a8adba;
font-size: 22px;
font-weight: bold;
/* put space between each one vertically */
margin-bottom: 15px;
/* for files in local images folder, use url('../images/file-name.jpg') */
background-image: url('../css/images/projects.jpeg');
/* tell background to fit box no matter what */
background-size: cover;
/* crop it at the center */
background-position: center;
/* padding top and bottom 20px, 0 for left/right */
padding: 20px 0;
/* set minimum heigh value so there's room */
min-height: 250px;
/* rather than use position...use flexbox and create column instead of row */
display: flex;
flex-direction: column;
}

/* for text area inside of flex item */
.flex-item span {
/* pushes element to bottom of flex item */
margin-top: auto;
width: 100%;
background-color: rgba(3, 3, 3, 0.4);
color: #393b4f;
padding: 10px 5px;
text-align: center;
}

 /* footer start */
 footer {
  background: #fce138;
  padding: 40px 400px 40px 0px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #024e76;
  font-size: 60px;
  margin: 0;
}

footer div ul{
  line-height: 1.5;
  
}
/* footer ends */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .aboutmebox {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .project {
    flex: 0 50%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
.profile-pic {
  flex: 0 32%;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15;
}
  .projects h3, .projects h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .profile-pic button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .project {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}
